Hardware/MidiMonger_controls-backups/
Hardware/MidiMonger-backups/
Hardware/QMidiMonger_controls-backups/
Hardware/QMidiMonger_panel-backups/
Hardware/MidiMonger_panel-backups/
/Debug/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.list
*.map
*.su
*.launch

*.sch-bak
*.kicad_pcb-bak

Hardware/\#auto_saved_files\#


/Hardware_v2/MidiMonger_components-backups
/Hardware_v2/MidiMonger-backups
/Hardware_v1/QMidiMonger_controls-backups
/Hardware_v1/QMidiMonger_panel-backups
*auto_saved_files*
*autosave*
Hardware_v1/Panel_PCB_Gerbers/Panel_PCB_Gerbers_1*
*.lck
/Hardware_v1/MidiMonger_panel-backups
/Hardware_v1/MidiMonger_controls-backups
/Hardware_v1/MidiMonger-backups
/Hardware_v2/MidiMonger_controls-backups
Hardware_v1/MidiMonger_controls-rescue.kicad_sym
/Hardware_v2/MidiMonger_panel-backups
/Hardware_v2/jlcpcb
